<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav ms-auto">
        <a class="nav-link" href="index.html">Inicio</a>
        <a class="nav-link" href="assets/pages/threats.html">Amenazas</a>
        <a class="nav-link" href="assets/pages/tips.html">Consejos</a>
      </ul>
    </div>
  </div>
</nav>
